@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.crawl {
  font-family: Arial, sans-serif;
  text-align: justify;
  margin: 0 auto;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  width: fit-content;
  height: 1000px;
  transform: perspective(300px) rotateX(20deg);
  animation: scrollCrawl 30s linear;
}
@keyframes scrollCrawl {
  0% {
    transform: perspective(300px) rotateX(20deg) translateY(680px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: perspective(300px) rotateX(20deg) translateY(-4000px);
    opacity: 0;
  }
}
.crawlstop {
  font-family: Arial, sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  /* line-height: 80px; */
  width: fit-content;
  height: 1000px;
  transform: perspective(300px);
}
